<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>
<body>
  <div style="display: flex; align-items: center; gap: 20px;">
    <img src="/static/images/profile.png" alt="Profile Picture" style="width: 100px; height: 100px; border-radius: 50%;">
    <div>
      <h2>👋 Hi, I'm Febrian Tisna</h2>
      <ul>
        <li>Junior Cyber Security Analyst</li>
        <li>Specializing in <strong>Blue Teaming</strong> & <strong>Red Teaming</strong></li>
        <li>Check out my <a href="/posts/">PurpleSec Blog</a> for detailed research!</li>
        <li>Check out my latest research on <a href="/posts/">Blue and Red Teaming</a>.</li>
      </ul>
    </div>
  </div>
  
  <h3>🔗 Connect with me:</h3>
  <ul>
    <li>🐦 <a href="https://x.com/febrian_tisna" target="_blank">Twitter</a></li>
    <li>💼 <a href="https://www.linkedin.com/in/pepbri-tisna-setiawan/" target="_blank">LinkedIn</a></li>
    <li>📧 <a href="mailto:febri30tisna@gmail.com">Email</a></li>
  </ul>  
</body>
</html>